# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Data Science tools
* Git and Github
* Visualisation using R-Programming

Some of the popular languages that Data Scientists use are:
1. Python
2. R-programming
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
--------------------
|Jupyter Notebook|
|R|
|NLTK|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sakshi Chauhan